.iQfpWQ.iQfpWQ.iQfpWQ {
    padding: 20px 0px;
}

.dXRRjD {
    overflow: hidden;
}

.gdZjkX.gdZjkX.gdZjkX {
    width: 1330px;
    margin-right: auto;
    margin-left: auto;
}

.gdZjkX.gdZjkX.gdZjkX::before,
.gdZjkX.gdZjkX.gdZjkX::after {
    content: " ";
    display: table;
}

.cfMmfZ {
    margin-left: -16px;
    margin-right: -16px;
}

.cfMmfZ::after,
.cfMmfZ::before {
    content: " ";
    display: table;
}

.fchJpc {
    position: relative;
    min-height: 1px;
    padding-left: 16px;
    padding-right: 16px;
    float: left;
    width: 66.6667%;
}

.cfMmfZ {
    margin-left: -16px;
    margin-right: -16px;
}

.cfMmfZ::after,
.cfMmfZ::before {
    content: " ";
    display: table;
}

.cLOKkO {
    position: relative;
    min-height: 1px;
    padding-left: 16px;
    padding-right: 16px;
    float: left;
    width: 100%;
}

.IPfOb.IPfOb.IPfOb {
    margin: 8px 0px 24px;
}

.fgKfzt {
    font-size: 16px;
}

.jpXBer {
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.kQsyoi {
    color: rgb(88, 87, 87);
    font-size: 13px;
    font-weight: 600;
    float: right;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    font-size: 18px;
}

.cfMmfZ::after {
    clear: both;
}

.cfMmfZ::after,
.cfMmfZ::before {
    content: " ";
    display: table;
}

.cfMmfZ {
    margin-left: -16px;
    margin-right: -16px;
}

.cfMmfZ::after,
.cfMmfZ::before {
    content: " ";
    display: table;
}

.iAqoJY {
    border: 1px solid rgb(224, 224, 225);
    margin-bottom: 8px;
    border-radius: 4px;
}

.iaTJfr {
    overflow: hidden;
}

.dXuyxi.dXuyxi.dXuyxi {
    padding: 12px;
}

.iwOTha.iwOTha.iwOTha {
    display: flex;
}

.hKfVEt {
    min-width: 110px;
    text-align: center;
    padding-left: 0px !important;
    padding-right: 10px !important;
}

.dkQouO {
    position: relative;
    min-height: 1px;
    padding: 0px;
    float: left;
    width: 16.6667%;
}

a,
button {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: #e42529;
    width: 100%;
    height: 100%;
    word-break: break-word;
}

.autoAdjust {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.imgCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: auto;
}

img {
    will-change: transform;
    max-width: 100%;
    height: auto;
}

.ioJeJk {
    max-width: 120px;
    margin: 8px auto;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    border-collapse: initial;
}

.ioJeJk .sc-jzJRlG:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.ioJeJk .sc-jzJRlG {
    background: rgb(204, 204, 204);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    color: rgb(51, 51, 51);
    font-size: 15px;
    height: 30px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    padding: 0px 8px;
}

.dUjbjz.disabled,
.dUjbjz[disabled] {
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.65;
}

.dUjbjz:disabled {
    cursor: not-allowed;
    opacity: 0.65;
}

.dUjbjz {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0px 12px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    border-radius: 3px;
    float: none;
}

.bAnuee {
    font-size: 12px;
}

.kyeXDN:read-only {
    cursor: not-allowed;
}

.kyeXDN {
    font-size: 14px;
    width: 30px;
    text-align: center;
    background: none;
    height: 30px;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: 1px solid rgb(204, 204, 204);
}

.gHdcDp {
    position: relative;
    min-height: 1px;
    overflow: hidden;
    padding: 0px;
    float: left;
    width: 83.3333%;
}

.kDtkIr {
    position: relative;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 8px;
    float: left;
    width: 55%;
}

.bxzmzo {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
}

.gatRAY {
    color: rgb(102, 102, 102);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
}

.fuzSFY {
    display: none;
}

.icQcEi {
    padding: 0px;
    float: left;
    width: 100%;
}

.jgmRHC {
    position: relative;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 8px;
    float: left;
    width: 100%;
}

.fbyCTj {
    text-align: right;
}

.bhCuiL {
    position: relative;
    min-height: 1px;
    padding: 0px;
    float: left;
    width: 100%;
}

.bhCuiL {
    position: relative;
    min-height: 1px;
    padding: 0px;
    float: left;
    width: 100%;
}

.hHJgov.hHJgov.hHJgov {
    margin-top: 8px;
}

.hofSEZ {
    color: rgb(21, 150, 124);
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
}

.jxQWAk {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
}

.dtayUr.dtayUr.dtayUr {
    margin-top: 4px;
}

.ffoWdv {
    color: rgb(31, 73, 133);
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
}

.dtayUr.dtayUr.dtayUr {
    margin-top: 4px;
}

.fjlqyj {
    color: rgb(31, 73, 133);
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5;
}

.bAqpzc {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
}

.ihQvLU {
    width: 45%;
}

.dpIHvF {
    border-top: 1px solid rgb(224, 224, 225) !important;
    border-bottom: 1px solid rgb(224, 224, 225);
    font-size: 13px;
    font-weight: 500;
    width: 50%;
    height: 40px;
}

.dpIHvF:first-child {
    border-right: 1px solid rgb(224, 224, 225);
}

.fZKdks {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    float: none;
    border: 0px;
    border-radius: 0px;
    background: transparent;
    padding: 0px;
    font-weight: 600;
    line-height: initial;
    text-transform: none;
    text-align: center;
    text-decoration: none;
    color: rgb(45, 115, 237);
}

.drXxIr {
    position: relative;
    min-height: 1px;
    padding-left: 16px;
    padding-right: 16px;
    float: left;
    width: 33.3333%;
}

.dAVghl {
    position: relative;
    min-height: 1px;
    padding: 0px;
    float: left;
    width: 100%;
}

.eLNzty {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0px 12px;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    line-height: 34px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    border-radius: 3px;
    float: none;
    color: rgb(255, 255, 255);
    background-color: rgb(228, 37, 41);
    border: 1px solid rgb(228, 37, 41);
}

.cdxcHP.cdxcHP.cdxcHP {
    width: 100%;
}

.emnYja {
    border: 1px solid rgb(224, 224, 225);
    border-radius: 4px;
    margin-top: 16px;
}

.eBdbxH {
    position: relative;
    min-height: 1px;
    padding-left: 16px;
    padding-right: 16px;
    float: left;
    width: 100%;
}

.ySFSz.ySFSz.ySFSz {
    margin: 12px 0px 0px;
}

.dQCIXv {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    display: none;
}

.hoVPQj.hoVPQj.hoVPQj {
    margin-top: 8px;
}

.jlCpUK {
    border-bottom: 1px solid rgb(238, 238, 238);
    border-top-color: rgb(238, 238, 238);
    border-right-color: rgb(238, 238, 238);
    border-left-color: rgb(238, 238, 238);
}

.hGxKfm.hGxKfm.hGxKfm {
    padding-bottom: 16px;
}

.hlVQIa {
    width: 100%;
}

.dhskzx {
    position: relative;
    margin-top: 12px;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
}

.jkNqZn .sc-hSdWYo {
    padding-right: 96px;
}

.jfLycL {
    width: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    border: 1px solid rgb(218, 220, 224);
    background-color: transparent;
    display: block;
    font-family: "Open Sans", sans-serif;
    line-height: 26px;
    outline: none;
    border-radius: 3px;
    color: rgb(32, 33, 36);
    font-size: 14px;
    height: 36px;
    padding: 8px 16px;
    z-index: 1;
}

.hPXjHz {
    background-color: transparent;
    top: 11px;
    box-sizing: border-box;
    color: rgb(128, 134, 139);
    font-size: 13px;
    font-family: roboto, arial, sans-serif;
    font-weight: 400;
    line-height: 16px;
    left: 10px;
    max-width: calc(100% - 16px);
    overflow: hidden;
    padding: 0px 8px;
    text-overflow: ellipsis;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    white-space: nowrap;
    width: auto;
    z-index: 1;
    pointer-events: none;
    position: absolute;
}

.jKKvQS {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0px 12px;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    line-height: 34px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    border-radius: 3px;
    float: none;
    color: rgb(228, 37, 41);
    border: 1px solid rgb(228, 37, 41);
    background-color: transparent;
}

.jkNqZn .sc-jzJRlG {
    font-size: 11px;
    font-weight: 700;
    color: rgb(23, 116, 239);
    text-align: center;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    text-transform: uppercase;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-image: initial;
    border-left: 3px solid rgb(23, 116, 239);
    position: absolute;
    right: 17px;
    top: 13px;
    z-index: 10;
    width: 80px;
}

.ezkoNx {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.hJxDn.hJxDn.hJxDn {
    margin: 12px 0px;
}

.bZLqIK {
    position: relative;
    min-height: 1px;
    padding-left: 16px;
    padding-right: 16px;
    float: left;
    width: 58.3333%;
}

.jIgKsa {
    font-size: 13px;
    font-weight: 400;
}

.cFujQK {
    position: relative;
    min-height: 1px;
    padding-left: 16px;
    padding-right: 16px;
    float: left;
    width: 41.6667%;
}

.QjpKe {
    font-size: 13px;
    font-weight: 600;
    text-align: right;
}

.gsQIbM.gsQIbM.gsQIbM {
    margin: 12px -16px 0px;
}

.bYaPEz {
    color: rgb(67, 160, 71);
    font-size: 13px;
    font-weight: 600;
    text-align: right;
}

.hjahrs {
    margin: 12px 0px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.lbDAFH.lbDAFH.lbDAFH {
    margin-bottom: 12px;
}

.kvNxbx {
    color: rgb(31, 73, 133);
    font-size: 14px;
    font-weight: 600;
    text-align: right;
}

.iNgffL {
    display: none;
    position: relative;
    min-height: 1px;
    padding-left: 16px;
    padding-right: 16px;
    float: left;
    width: 100%;
}

.bhCuiL {
    position: relative;
    min-height: 1px;
    padding: 0px;
    float: left;
    width: 100%;
}

.kUaenU.kUaenU.kUaenU {
    margin: 12px 0px;
}

.dbMhZR {
    color: rgb(102, 102, 102);
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5;
}